<div class="authentication-component">

  <div>

    <button mat-flat-button type="button" (click)="changeCurrentLang('en')">EN</button>
    <button mat-flat-button type="button" (click)="changeCurrentLang('ar')">AR</button>

  </div>
  <header class="page-header">
    <h1>Cinematrix</h1>
  </header>

  <app-alert [key]="'EMAILEXISTS'" *ngIf="error" (close)="RemovePopUpScreen()"></app-alert>
  <div class="container" [ngClass]="{'rtl-layout': currentLang === 'ar', 'ltr-layout': currentLang !== 'ar'}">

    <form class=" form-inline card" (ngSubmit)="onSubmit()" #form="ngForm">
      <br>
      <h1> {{'SIGNUP'|translate}}</h1>

      <div class="form-group ">
        <label class="form-label styled-label" for="myName">{{"NAME"|translate}} </label>

        <input class=" form-control form-control-lg " type="text" id="myName" name="myName"
          placeholder="{{'PHNAME'|translate}}" ngModel required #myName="ngModel" #hi="ngModel">


      </div>
      <small style="color: red;" *ngIf="!myName.valid &&myName.touched">{{"NAMEREQUIRED"|translate}}</small>

      <br>
      <div class="form-group ">
        <label class="form-label styled-label" for="email">{{"EMAIL"|translate}} </label>

        <input class=" form-control form-control-lg " type="email" id="email" name="email"
          placeholder="{{'PHEMAIL'|translate}}" ngModel email required #email="ngModel">


      </div>
      <small style="color: red;" *ngIf="!email.valid &&email.touched">{{"EMAILREQUIRED"|translate}}</small>

      <br>
      <div class="form-group">
        <label class="form-label  styled-label" for="password">{{"PASS"|translate}}</label>

        <input class="form-control form-control-lg " type="password" id="password" placeholder="{{'PHPASS'|translate}}"
          name="password" ngModel required #pass="ngModel">


      </div>
      <small style="color: red;" *ngIf="!pass.valid&&pass.touched">{{'PASSREQUIRED'|translate}}</small>

      <br>
      <div class="form-group">

        <button [disabled]="!form.valid" class="btn btn-primary btn-lg" type="submit">
          {{'SIGNUP'|translate}}</button>
        <a type="button" (click)="loginActivate()" class="link-primary signUpLink">
          {{('LOGIN'|translate)}}</a>
      </div>
      <br>
    </form>
  </div>
</div>