<!-- login.component.html -->
<app-alert [message]="'Email or Password is wrong!!'" *ngIf="error" (close)="RemovePopUpScreen()"></app-alert>
<div class="container">
    <form class="form-inline" (ngSubmit)="onSubmit()" #f="ngForm">
      <div class="form-group ">
        <label class="form-label row styled-label"  for="email">Email </label>

        <input class=" form-control form-control-lg row"
         type="email" 
         id="email"
          name="email" 
          placeholder="Enter email" 
          ngModel
           email 
           required
           #email="ngModel">
           <small *ngIf="!email.valid &&email.touched">Email is required. Please Enter it!</small>

      </div>
      <br>
      <div class="form-group ">
        <label class="form-label row styled-label" for="password">Password</label>

        <input class="form-control form-control-lg row" type="password" id="password" placeholder="Password"
         name="password" ngModel  required   #pass="ngModel">
        <small *ngIf="!pass.valid&&pass.touched">Password is required. Please Enter it!</small>
  
    </div>
      <br>
      <button  [disabled]="!f.valid" class= "btn btn-primary btn-lg" type="submit">Login</button>
      
    </form>
  </div>
  