.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 50;

}
.alert-box{
    position: fixed;
    top: 30vh;
    width: 40vw;
    left: 20vw;
    background-color: aliceblue;
    z-index: 100;
    padding: 1%;

}
.alert-box p{
    font-weight: bold;
    color: red;

}
.actions{
    text-align: right;
}
