.container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 5%;

}
.card{
    background-color: #F9F7F7;
    margin-bottom: 3%;
}


.card-title {
    min-height: 48px;
    font-weight: bold;
    font-size: large;
    
}
img.card-img-top {
    min-height: 426px;
}

