.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 50;
  
}
.alert-box{
    position: fixed;
    top: 40vh;
    width: 50vw;
    height: 20vh;
    left: 25vw;
    background-color: #DBE2EF;
    z-index: 100;
    padding: 1%;

}
.alert-box p{
    font-weight: bold;
    color: #112D4E;
   

}
.actions{
    text-align: right;
}
